*{
    margin: 0;
    padding: 0;
}

.sec1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f9ff;
}

.mdiv{
    height: 74vh;
    width: 20vw;
    background-color: #3A4352;
    padding: 20px; 
    border-radius: 10px;
}

.display{
    margin-top: 20px;
    height: 12vh;
    width: 20vw;
    margin-bottom: 5vh;
    font-size: 50px;
    text-align: end;
    box-shadow: none;

    
}
div input{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    font-size: 22px;
    font-family: sans-serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    background-color: #2f353f;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.div1{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.div2{
    width: 14.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.equal{
    width: 60px;
    height: 140px;
    position: absolute;
    right: 0;
    top: 0;
    color: #33ffd8;
    font-size: 28px;
}
.equal1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}   

.color{
    color: #33ffd8;
    font-size: 28px;
}
.color1{
    color: #33ffd8;
}
.multiplication{
    font-size: 38px;
    padding-top: 2vh;
    color: #33ffd8;
}
.subtraction{
    font-size: 38px;
    color: #33ffd8;

}
.dott{
    font-size: 30px;
}
